In [0]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [0]:
!pip install surprise

Collecting surprise
  Downloading https://files.pythonhosted.org/packages/61/de/e5cba8682201fcf9c3719a6fdda95693468ed061945493dea2dd37c5618b/surprise-0.1-py2.py3-none-any.whl
Collecting scikit-surprise
  Downloading https://files.pythonhosted.org/packages/f5/da/b5700d96495fb4f092be497f02492768a3d96a3f4fa2ae7dea46d4081cfa/scikit-surprise-1.1.0.tar.gz (6.4MB)
     |████████████████████████████████| 6.5MB 90kB/s
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from scikit-surprise->surprise) (0.14.0)
Requirement already satisfied: numpy>=1.11.2 in /usr/local/lib/python3.6/dist-packages (from scikit-surprise->surprise) (1.17.4)
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.6/dist-packages (from scikit-surprise->surprise) (1.3.2)
Requirement already satisfied: six>=1.10.0 in /usr/local/lib/python3.6/dist-packages (from scikit-surprise->surprise) (1.12.0)
Building wheels for collected packages: scikit-surprise
  Building wheel for scikit-surprise (setup.py) ... done
  Created wheel for scikit-surprise: filename=scikit_surprise-1.1.0-cp36-cp36m-linux_x86_64.whl size=1678257 sha256=f0a4686e682537222c6f6d27a382122df2700bf6b376bf8835dce24502e2f7c6
  Stored in directory: /root/.cache/pip/wheels/cc/fa/8c/16c93fccce688ae1bde7d979ff102f7bee980d9cfeb8641bcf
Successfully built scikit-surprise
Installing collected packages: scikit-surprise, surprise
Successfully installed scikit-surprise-1.1.0 surprise-0.1

In [0]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats
from ast import literal_eval
from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer
from sklearn.metrics.pairwise import linear_kernel, cosine_similarity
from nltk.stem.snowball import SnowballStemmer
from nltk.stem.wordnet import WordNetLemmatizer
from nltk.corpus import wordnet
from surprise import Reader, Dataset, SVD
import surprise
import warnings; warnings.simplefilter('ignore')

In [0]:
movie_data = pd. read_csv('/content/drive/My Drive/Colab Notebooks_ML_Dataset/movies_metadata.csv')
movie_data.head()

   adult  ... vote_count
0  False  ...     5415.0
1  False  ...     2413.0
2  False  ...       92.0
3  False  ...       34.0
4  False  ...      173.0

[5 rows x 24 columns]

In [0]:
movie_data['genres'] = movie_data['genres'].fillna('[]').apply(literal_eval).apply(lambda x: [i['name'] for i in x] if isinstance(x, list) else [])

In [0]:
movie_data['year'] = pd.to_datetime(movie_data['release_date'], errors='coerce').apply(lambda x: str(x).split('-')[0] if x != np.nan else np.nan)

In [0]:
movie_credits = pd.read_csv('/content/drive/My Drive/Colab Notebooks_ML_Dataset/credits.csv')
movie_keywords = pd.read_csv('/content/drive/My Drive/Colab Notebooks_ML_Dataset/keywords.csv')

In [0]:
movie_data = movie_data.drop([19730, 29503, 35587])

In [0]:
movie_keywords['id'] = movie_keywords['id'].astype('int')
movie_credits['id'] = movie_credits['id'].astype('int')
movie_data['id'] = movie_data['id'].astype('int')

In [0]:
movie_data.shape

(45463, 25)

In [0]:
movie_data = movie_data.merge(movie_credits, on='id')
movie_data = movie_data.merge(movie_keywords, on='id')

In [0]:
movie_links_small = pd.read_csv('/content/drive/My Drive/Colab Notebooks_ML_Dataset/links_small.csv')
movie_links_small = movie_links_small[movie_links_small['tmdbId'].notnull()]['tmdbId'].astype('int')

In [0]:
small_md = movie_data[movie_data['id'].isin(movie_links_small)]
small_md.shape

(9219, 28)

In [0]:
small_md['cast'] = small_md['cast'].apply(literal_eval)
small_md['crew'] = small_md['crew'].apply(literal_eval)
small_md['keywords'] = small_md['keywords'].apply(literal_eval)
small_md['cast_size'] = small_md['cast'].apply(lambda x: len(x))
small_md['crew_size'] = small_md['crew'].apply(lambda x: len(x))

In [0]:
def give_director(x):
    for i in x:
        if i['job'] == 'Director':
            return i['name']
    return np.nan

In [0]:
small_md['director'] = small_md['crew'].apply(give_director)

In [0]:
small_md['cast'] = small_md['cast'].apply(lambda x: [i['name'] for i in x] if isinstance(x, list) else [])
small_md['cast'] = small_md['cast'].apply(lambda x: x[:3] if len(x) >=3 else x)

In [0]:
small_md['keywords'] = small_md['keywords'].apply(lambda x: [i['name'] for i in x] if isinstance(x, list) else [])

In [0]:
small_md['cast'] = small_md['cast'].apply(lambda x: [str.lower(i.replace(" ", "")) for i in x])

In [0]:
small_md['director'] = small_md['director'].astype('str').apply(lambda x: str.lower(x.replace(" ", "")))
small_md['director'] = small_md['director'].apply(lambda x: [x,x, x])

In [0]:
series = small_md.apply(lambda x: pd.Series(x['keywords']),axis=1).stack().reset_index(level=1, drop=True)
series.name = 'keyword'

In [0]:
series = series.value_counts()
series[:5]

independent film        610
woman director          550
murder                  399
duringcreditsstinger    327
based on novel          318
Name: keyword, dtype: int64

In [0]:
series

independent film        610
woman director          550
murder                  399
duringcreditsstinger    327
based on novel          318
                       ...
identity swapping         1
dog trainer               1
jordan                    1
pilgrimage                1
tourism                   1
Name: keyword, Length: 12940, dtype: int64

In [0]:
series = series[series > 1]

In [0]:
stemmer = SnowballStemmer('english')
stemmer.stem('dogs')

'dog'

In [0]:
def find_keywords(x):
    words = []
    for i in x:
        if i in series:
            words.append(i)
    return words

In [0]:
movie_data['keywords'] = small_md['keywords'].apply(find_keywords)
small_md['keywords'] = small_md['keywords'].apply(lambda x: [stemmer.stem(i) for i in x])
small_md['keywords'] = small_md['keywords'].apply(lambda x: [str.lower(i.replace(" ", "")) for i in x])

In [0]:
small_md['soup'] = small_md['keywords'] + small_md['cast'] + small_md['director'] +small_md['genres']
small_md['soup'] = small_md['soup'].apply(lambda x: ' '.join(x))

In [0]:
counter = CountVectorizer(analyzer='word',ngram_range=(1, 2),min_df=0, stop_words='english')
counter_matrix = counter.fit_transform(small_md['soup'])

In [0]:
cosine_similar = cosine_similarity(counter_matrix, counter_matrix)

In [0]:
small_md = small_md.reset_index()
titles = small_md['title']
indices = pd.Series(small_md.index, index=small_md['title'])

In [0]:
def convert_int(x):
    try:
        return int(x)
    except:
        return np.nan

In [0]:
id_map = pd.read_csv('/content/drive/My Drive/Colab Notebooks_ML_Dataset/links_small.csv')[['movieId', 'tmdbId']]
id_map['tmdbId'] = id_map['tmdbId'].apply(convert_int)
id_map.columns = ['movieId', 'id']
id_map = id_map.merge(small_md[['title', 'id']], on='id').set_index('title')
#id_map = id_map.set_index('tmdbId')

In [0]:
indices_map = id_map.set_index('id')

In [0]:
ratings = pd.read_csv('/content/drive/My Drive/Colab Notebooks_ML_Dataset/ratings.csv')
ratings.head()

   userId  movieId  rating   timestamp
0       1      110     1.0  1425941529
1       1      147     4.5  1425942435
2       1      858     5.0  1425941523
3       1     1221     5.0  1425941546
4       1     1246     5.0  1425941556

In [0]:
reader=Reader()

In [0]:
data = Dataset.load_from_df(ratings[['userId', 'movieId', 'rating']], reader)

In [0]:
svd=SVD()

In [0]:
trainset = data.build_full_trainset()
print(trainset)
svd.fit(trainset)

<surprise.trainset.Trainset object at 0x7f7604e32c50>

In [0]:
def hybrid(userId, title):
    idx = indices[title]
    tmdbId = id_map.loc[title]['id']
    #print(idx)
    movie_id = id_map.loc[title]['movieId']
    
    sim_scores = list(enumerate(cosine_similar[int(idx)]))
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    sim_scores = sim_scores[1:26]
    movie_indices = [i[0] for i in sim_scores]
    
    movies = small_md.iloc[movie_indices][['title', 'vote_count', 'vote_average', 'year', 'id']]
    movies['est'] = movies['id'].apply(lambda x: svd.predict(userId, indices_map.loc[x]['movieId']).est)
    movies = movies.sort_values('est', ascending=False)
    return movies.head(10)

In [0]:
hybrid(1, 'Avatar')

                             title  vote_count  ...      id       est
2014              Fantastic Planet       140.0  ...   16306  4.270563
8401       Star Trek Into Darkness      4479.0  ...   54138  4.134435
8658    X-Men: Days of Future Past      6155.0  ...  127585  4.011105
8865  Star Wars: The Force Awakens      7993.0  ...  140607  3.850699
922                      The Abyss       822.0  ...    2756  3.628646
974                         Aliens      3282.0  ...     679  3.628341
1011                The Terminator      4208.0  ...     218  3.625701
522     Terminator 2: Judgment Day      4274.0  ...     280  3.555980
831       Escape to Witch Mountain        60.0  ...   14821  3.468905
344                      True Lies      1138.0  ...   36955  3.412051

[10 rows x 6 columns]