In [0]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats
from ast import literal_eval
from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer
from sklearn.metrics.pairwise import linear_kernel, cosine_similarity
from nltk.stem.snowball import SnowballStemmer
from nltk.stem.wordnet import WordNetLemmatizer
from nltk.corpus import wordnet


import warnings; warnings.simplefilter('ignore')

In [0]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [0]:
links_small = pd.read_csv('/content/drive/My Drive/ML_Dataset/links_small.csv')
links_small = links_small[links_small['tmdbId'].notnull()]['tmdbId'].astype('int')

In [0]:
movie_data = pd. read_csv('/content/drive/My Drive/ML_Dataset/movies_metadata.csv')
movie_data.head()

   adult  ... vote_count
0  False  ...       5415
1  False  ...       2413
2  False  ...         92
3  False  ...         34
4  False  ...        173

[5 rows x 24 columns]

In [0]:
movie_data['genres'] = movie_data['genres'].fillna('[]').apply(literal_eval).apply(lambda x: [i['name'] for i in x] if isinstance(x, list) else [])

In [0]:
movie_data['year'] = pd.to_datetime(movie_data['release_date'], errors='coerce').apply(lambda x: str(x).split('-')[0] if x != np.nan else np.nan)

In [0]:
movie_credits = pd.read_csv('/content/drive/My Drive/ML_Dataset/credits.csv')
movie_keywords = pd.read_csv('/content/drive/My Drive/ML_Dataset/keywords.csv')

In [0]:
movie_data = movie_data.drop([19730, 29503, 35587])

In [0]:
movie_keywords['id'] = movie_keywords['id'].astype('int')
movie_credits['id'] = movie_credits['id'].astype('int')
movie_data['id'] = movie_data['id'].astype('int')

In [0]:
movie_data.shape

(45374, 25)

In [0]:
movie_data = movie_data.merge(credits, on='id')
movie_data = movie_data.merge(keywords, on='id')

In [0]:
smd = movie_data[movie_data['id'].isin(links_small)]
smd.shape

(9219, 28)

In [0]:
smd['cast'] = smd['cast'].apply(literal_eval)
smd['crew'] = smd['crew'].apply(literal_eval)
smd['keywords'] = smd['keywords'].apply(literal_eval)
smd['cast_size'] = smd['cast'].apply(lambda x: len(x))
smd['crew_size'] = smd['crew'].apply(lambda x: len(x))

In [0]:
def get_director(x):
    for i in x:
        if i['job'] == 'Director':
            return i['name']
    return np.nan

In [0]:
smd['director'] = smd['crew'].apply(get_director)

In [0]:
smd['cast'] = smd['cast'].apply(lambda x: [i['name'] for i in x] if isinstance(x, list) else [])
smd['cast'] = smd['cast'].apply(lambda x: x[:3] if len(x) >=3 else x)

In [0]:
smd['keywords'] = smd['keywords'].apply(lambda x: [i['name'] for i in x] if isinstance(x, list) else [])

In [0]:
smd['cast'] = smd['cast'].apply(lambda x: [str.lower(i.replace(" ", "")) for i in x])

In [0]:
smd['director'] = smd['director'].astype('str').apply(lambda x: str.lower(x.replace(" ", "")))
smd['director'] = smd['director'].apply(lambda x: [x,x, x])

In [0]:
s = smd.apply(lambda x: pd.Series(x['keywords']),axis=1).stack().reset_index(level=1, drop=True)
s.name = 'keyword'

In [0]:
s = s.value_counts()
s[:5]

independent film        610
woman director          550
murder                  399
duringcreditsstinger    327
based on novel          318
Name: keyword, dtype: int64

In [0]:
s

independent film              610
woman director                550
murder                        399
duringcreditsstinger          327
based on novel                318
                             ...
movie serial                    1
squatter                        1
reference to pandora's box      1
wildlife conservation           1
industrial accident             1
Name: keyword, Length: 12940, dtype: int64

In [0]:
s = s[s > 1]

In [0]:
stemmer = SnowballStemmer('english')
stemmer.stem('dogs')

'dog'

In [0]:
def filter_keywords(x):
    words = []
    for i in x:
        if i in s:
            words.append(i)
    return words

In [0]:
movie_data['keywords'] = smd['keywords'].apply(filter_keywords)
smd['keywords'] = smd['keywords'].apply(lambda x: [stemmer.stem(i) for i in x])
smd['keywords'] = smd['keywords'].apply(lambda x: [str.lower(i.replace(" ", "")) for i in x])

In [0]:
smd['soup'] = smd['keywords'] + smd['cast'] + smd['director'] +smd['genres']
smd['soup'] = smd['soup'].apply(lambda x: ' '.join(x))

In [0]:
count = CountVectorizer(analyzer='word',ngram_range=(1, 2),min_df=0, stop_words='english')
count_matrix = count.fit_transform(smd['soup'])

In [0]:
cosine_sim = cosine_similarity(count_matrix, count_matrix)

In [0]:
smd = smd.reset_index()
titles = smd['title']
indices = pd.Series(smd.index, index=smd['title'])

In [0]:
def get_recommendations(title):
    
    idx = indices[title]
    sim_scores = list(enumerate(cosine_sim[idx]))
    try:
      sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    
    except ValueError:
        print("No Similar movies found")
    
    sim_scores = sim_scores[1:31]
    movie_indices = [i[0] for i in sim_scores]
    return titles.iloc[movie_indices]

In [0]:
get_recommendations('Iron Man 3').head(10)

7600                             Iron Man 2
7009                               Iron Man
6308                    Kiss Kiss Bang Bang
8869                                Ant-Man
7923     Captain America: The First Avenger
8868                Avengers: Age of Ultron
8626    Captain America: The Winter Soldier
9185                          The Nice Guys
7969                           The Avengers
8872             Captain America: Civil War
Name: title, dtype: object

In [0]:
vote_counts = movie_data[movie_data['vote_count'].notnull()]['vote_count'].astype('int')
vote_averages = movie_data[movie_data['vote_average'].notnull()]['vote_average'].astype('int')
C = vote_averages.mean()

In [0]:
m = vote_counts.quantile(0.95)

In [0]:
def weighted_rating(x):
    v = x['vote_count']
    R = x['vote_average']
    return (v/(v+m) * R) + (m/(m+v) * C)

In [0]:
def improved_recommendations(title):
    idx = indices[title]
    sim_scores = list(enumerate(cosine_sim[idx]))
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    sim_scores = sim_scores[1:26]
    movie_indices = [i[0] for i in sim_scores]
    
    movies = smd.iloc[movie_indices][['title', 'vote_count', 'vote_average','year']]
    vote_counts = movies[movies['vote_count'].notnull()]['vote_count'].astype('int')
    vote_averages = movies[movies['vote_average'].notnull()]['vote_average'].astype('int')
    C = vote_averages.mean()
    m = vote_counts.quantile(0.60)
    qualified = movies[(movies['vote_count'] >= m) & (movies['vote_count'].notnull()) & (movies['vote_average'].notnull())]
    qualified['vote_count'] = qualified['vote_count'].astype('int')
    qualified['vote_average'] = qualified['vote_average'].astype('int')
    qualified['wr'] = qualified.apply(weighted_rating, axis=1)
    qualified = qualified.sort_values('wr', ascending=False).head(10)
    return qualified

In [0]:
improved_recommendations('Iron Man 3')

                                   title  vote_count  ...  year        wr
7969                        The Avengers       12000  ...  2012  6.939804
8871                            Deadpool       11444  ...  2016  6.936984
7009                            Iron Man        8951  ...  2008  6.920230
8872          Captain America: Civil War        7462  ...  2016  6.905172
8868             Avengers: Age of Ultron        6908  ...  2015  6.898009
8869                             Ant-Man        6029  ...  2015  6.884121
7923  Captain America: The First Avenger        7174  ...  2011  5.957631
7600                          Iron Man 2        6969  ...  2010  5.956457
7861                                Thor        6678  ...  2011  5.954673
8419                        Man of Steel        6462  ...  2013  5.953252

[10 rows x 5 columns]